*{
    margin: 0;
    padding: 0;
    max-width: 100%;
    font-family: Arial, Helvetica, sans-serif ;
}
img{max-width: 100%;}
body{
    background-color: rgb(244,244,244);
}


/*header and footer*/

header , footer {
    text-align: center;
}
header{
    background-color:#d9eed9;
    padding: 25px 0;
    font-size: 11px;
}
footer{
    background-color: #124314;
    padding: 25px 0;
    color: rgb(255, 255, 255);
    font-weight: 550;
    font-size: 14px;
}


/*navigation bar*/

nav ul {
    width: 280px;
    display: flex;
    margin: 16px auto 70px;
    justify-content: space-between;
    list-style: none;
}
nav ul li a{
    text-decoration: none;
    font-weight: 560;
    font-size: 16px;
    color: #4caf50;
    opacity: 0.8;
    padding: 2px 8px;
}
nav ul li :hover{
    background-color: rgb(228, 228, 228);
    border-radius: 4px;
}



/*Main part*/
main{
    margin: 0 auto 150px;
}
main h2:not(#section1 .product h2 , #section2 .product h2 , #section3 .product h2){
    width: 84%;
    margin: 10px auto 30px;
}
main h2{
    color: rgb(44, 44, 43);
    font-size: 20px;
    letter-spacing: 0.3px;
}
main p{
    color: rgb(59, 59, 59);
}

.product-list{
    width: 330px;
    height: 75%;
    overflow: hidden;
    margin: 0 auto;
    align-items: center;
    text-align: center;
}
article{
    width: 83%;
    height: 35em;
    overflow: hidden;
    margin: 20px auto;
    padding: 17px;
    background-color: white;
    border-radius: 5px;
    box-shadow: 6px, 6px, 10px;
}
.price{
    color: rgb(88, 185, 101);
    margin-top: 16px;
    font-weight: 540;
    font-size: 19px;
}
article h2{
    margin-top: 18px;
    margin-bottom: 19px;

}
/*images*/
img{
    border-radius: 2%;
    box-shadow: inset;
    width: 100%;
}

img[alt="Product 1" ] {
    height: 67%;
}
img[alt="Product 2" ] {
    height: 50%;
}
img[alt="Product 3" ] {
    height: 69%;
}
#section2 img[alt="Product 2" ] {
    height: 42%;
}
#section2 img[alt="Product 3" ] {
    height: 70%;
}
#section3 img[alt="Product 2" ] {
    height: 40%;
}
#section3 img[alt="Product 3" ] {
    height: 69%;
}
 

/*resonsiveness using media query ; mobile-first-approach*/

/*for tablets*/
@media (min-width:750px) and (max-width: 960px){
    .product-list{
        width: 90%;
    }
    article{
        width: 274px;
    }
   #section1 :nth-of-type(1) ,  #section1 :nth-of-type(2){
    display: inline-block;

   }
   #section2 :nth-of-type(1) ,  #section2 :nth-of-type(2){
    display: inline-block;

   }
   #section3 :nth-of-type(1) ,  #section3 :nth-of-type(2){
    display: inline-block;

   }
   #section1 :nth-of-type(1){
    margin-right: 20px;
   }
   #section1 :nth-of-type(2){
    margin-left: 20px;
   }
   #section2 :nth-of-type(1){
    margin-right: 20px;
   }
   #section2 :nth-of-type(2){
    margin-left: 20px;
   }
   #section3 :nth-of-type(1){
    margin-right: 20px;
   }
   #section3 :nth-of-type(2){
    margin-left: 20px;
   }
   header{
    font-size: 12px;
   }
   nav ul{
    width: 320px;
   }


}

/*for laptops*/
@media (min-width:960px){
    .product-list{
        width: 1050px;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
    }
    article{
        width: 250px;
    }
    main h2:not(#section1 .product h2 , #section2 .product h2 , #section3 .product h2){
        width: 80%;
        margin: 20px auto 20px;
    }
    header {
        font-size: 14px;
    }
    nav ul{
        width: 350px;
    }
}